.pole {
    background-color: blueviolet;
    width: 70%;
    height: 600px;
    margin: 10px;
}

.nav {
    background-color: chartreuse;
    width: 200px;
    height: 200px;
    margin: 10px;
}

.pole2 {
    background-color: blueviolet;
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
}

.pole3 {
    background-color: blueviolet;
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    align-items: flex-end;
}

.pole4 {
    background-color: blueviolet;
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.pole5 {
    background-color: blueviolet;
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.pole6 {
    background-color: blueviolet;
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pole7 {
    background-color: blueviolet;
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.pole8 {
    background-color: blueviolet;
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
}

.pole9 {
    background-color: blueviolet;
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.pole10 {
    background-color: blueviolet;
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pole11 {
    background-color: blueviolet;
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.pole12 {
    background-color: blueviolet;
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
}
