.pole {
    background-color: blue;
    width: 70%;
    height: 600px;
    margin: 10px;
}

.nav {
    background-color: red;
    width: 200px;
    height: 200px;
    margin: 10px;
}

.pole2 {
    background-color: blue;
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
}

.pole3 {
    background-color: blue;
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    align-items: flex-end;
}

.pole4 {
    background-color: blue;
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.pole5 {
    background-color: blue;
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.pole6 {
    background-color: blue;
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pole7 {
    background-color: blue;
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.pole8 {
    background-color: blue;
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
}

.pole9 {
    background-color: blue;
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.pole10 {
    background-color: blue;
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pole11 {
    background-color: blue;
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.pole12 {
    background-color: blue;
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
}
.ikona {
    padding: 0.70rem;
    margin: 2px;
    background-color: yellow;
    text-decoration: none;
    color: black;
    transition: 0.3s; 
}
.ikona:hover {
    padding: 1.2rem;
    margin: 2px;
    background-color: yellow;
    text-decoration: none;
    color: black;
    transition: 0.3s; 


}

    

