*{
    margin:0px;
    padding:0px;
}
body{
    background:rgb(172, 68, 68);
    display:flex;
    align-items: center;
    flex-direction: column;
}
table, th, td{
    border:1px solid rgb(231, 14, 15);
}
table{
    background-color:grey;
}
th{
    text-align: center;
    background-color:#530606;
}
tr:nth-child(even){background-color: #e24a4a;}
tr:hover{background-color:rgb(240, 137, 62);}
.item{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.link{
    text-decoration: none;
    padding:1rem;
    background:red;
    color:black;
}
.nav{
    display:flex;
    justify-content: center;
}
.link:hover{
    background:crimson;
}
.formularz{
    height:75px;
    width:300px;
    background:brown;
}
