*{
    margin:0px;
    padding:0px;
}
.con{
    height: 100%;
    width:100%;
    background:rgb(170, 67, 69);
}
body{
    background:rgb(172, 69, 68);
   
}
table, th, td{
    border:1px solid rgb(230, 14, 15);
}
table{
    background-color:grey;
}
th{
    text-align: center;
    background-color:#530606;
}
tr:nth-child(even){background-color: #e24a4a;}
tr:hover{background-color:rgb(240, 137, 62);}
.item{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.nav{
    display:flex;
    justify-content: center;
}
.pole{
    display:flex;
}
.naglowek{
        width: 100%;
        justify-content: center;
        display:flex;
}
.formularz{
    height:75px;
    width:300px;
    background:brown;
}
