*{
    margin:0px;
    padding:0px;
}
.con{
    height: 100%;
    width:100%;
    background:rgb(137, 67, 170);
}
body{
    background:rgb(57, 94, 175);
   
}
table, th, td{
    border:1px solid rgb(41, 184, 65);
}
table{
    background-color:grey;
}
th{
    text-align: center;
    background-color:#530606;
}
tr:nth-child(even){background-color: #e24a4a;}
tr:hover{background-color:rgb(240, 137, 62);}
.nav{
     width: 20%;
    display:flex;
    flex-direction: column;
}
.pole{
    display:flex;
    flex-wrap: wrap;
}
.tresc{
     width: 80%;
}
.naglowek{
        width: 100%;
        justify-content: center;
        display:flex;
}
.formularz{
    height:75px;
    width:300px;
    background:brown;
}
.menu{
    text-decoration:none;
    padding:1em;
    background-color:violet;
    margin:10px;
    border-radius: 100px;
}
.menu:hover{
    background-color:darkviolet;
}
       
       
